/* TODO
SVGS
#545454 HEX TO VARIABLES
HELP PART
ADD CORRECT LINKS*/

.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 908px;
  background: url("../images/noise_transparent@2x.png") repeat,
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px 0;
}

.header__title {
  color: var(--accent-primary);
  font-style: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.header__subtitle {
  display: block;
  margin-top: 10px;
  color: white;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: right;
}

.header__nav {
  color: #cdcdcd;
  font-size: 15px;
}

.header__nav-list {
  display: flex;
  gap: 35px;
}

.nav-list__item-inactive {
  color: #fafafa;
  text-decoration: underline 3px solid var(--accent-primary);
  text-underline-offset: 8px;
  cursor: default;
  pointer-events: none;
}

.nav-list__item:hover {
  color: #fafafa;
  text-decoration: underline 3px solid var(--accent-primary);
  text-underline-offset: 8px;
}

.hero-content {
  display: flex;
  gap: 42px;
  margin: 90px 40px 0;
  color: white;
}

.hero__article {
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-top: 163px;
}

.hero__title {
  margin-right: 150px;
  font-size: 44px;
  line-height: 130%;
}

.hero__text {
  color: #cdcdcd;
}

.hero__button {
  width: fit-content;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.about__article {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 430px;
}

.about__title {
  margin-right: 60px;
  color: #545454;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.about__text {
  color: #4c4c4c;
}

.main__pets {
  background-color: #f6f6f6;
}

.pets-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.pets__title {
  max-width: 400px;
  color: #545454;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
}

.pets__slider {
  display: flex;
  align-items: center;
  gap: 53px;
}

.pets__list {
  display: flex;
  flex-direction: row;
  gap: 90px;
}

.pets__list-item {
  background-color: #fff;
}

.pets-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
}
.pets-item-title {
  color: #545454;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
}

.slider-button {
  width: 52px;
  height: 52px;
  padding: 0;
}

.main__help {
}
.wrapper {
}
.help-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.help__title {
  max-width: 310px;
  color: #545454;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
}

.help__list {
  height: 281;
}

.help__list-item {
}

.help-item-title {
}

/* TODO HELP PART */

.main__donations {
  background-color: #f6f6f6;
}

.donation-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.donations__article {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 380px;
}
.donations__title {
  margin-right: 80px;
  color: #545454;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.donations__bank {
  color: #545454;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.donations__bank-info {
  width: max-content;
  border-radius: 9px;
  padding: 10px 15px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  background-color: var(--accent-primary);
}

.donations__bank-card {
  margin-left: 15px;
}

.donations__text {
  color: #b2b2b2;
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  line-height: 150%;
}
/* ADD HOVER FOR BANK */
