:root {
  --font-family: "Georgia", serif;
  --second-family: "Arial", sans-serif;

  --accent-primary: #f1cdb3;
  --accent-primary-light: #fddcc4;

  --color-primary-header: #545454;
  --color-primary-paragraph: #4c4c4c;

  --light-color-paragraph: #b2b2b2;
  --link-underline: 3px solid var(----color-primary, #f1cdb3);

  --start-screen-gradient-background: radial-gradient(
    100% 215.42% at 0% 0%,
    #5b483a 0%,
    #262425 100%
  );

  --footer-gradient-background: radial-gradient(
    549.89% 73.65% at 5.73% 50%,
    rgb(81, 61, 47) 0%,
    rgb(26, 26, 28) 100%
  );
}
